<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% unless session[:user_id] == nil %>
    <h1>You are <%=User.find(session[:user_id]).username %></h1>
  <% else %>
    <button><%= link_to "Log In", new_session_path %></button>
  <%end%>
    <%= yield %>
  </body>
</html>
